* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-font-light: hsl(240, 6%, 50%);
	--clr-font: hsl(237, 12%, 33%);
	--clr-font-dark: hsl(238, 29%, 16%);

	--clr-accent: hsl(14, 88%, 65%);
	--clr-dividers: hsl(240, 5%, 91%);

	--clr-gradient-top: hsl(273, 75%, 66%);
	--clr-gradient-bottom: hsl(240, 73%, 65%);
}


body {
	min-height: 100vh;
	max-height: 100%;
	width: 100vw;
	align-items: center;
	background-image: linear-gradient(var(--clr-gradient-top), var(--clr-gradient-bottom));
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 2rem;
	padding: 1rem 0;
}

p {
	font-size: 12px;
	color: var(--clr-font-light);
}


.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 1.5rem;
	background-color: white;
	border-radius: 1.5rem;
	margin: 8rem 1.5rem 1.5rem 1.5rem;
	position: relative;
	min-height: 30rem;
	width: 100%;
	max-width: 60rem;
}

.svg-mobile {
	text-align: center;
	margin-top: -10rem;
	max-width: 20rem;
}

.svg-mobile__woman {
	width: 15rem;
	margin-bottom: -4.5rem;
}

.svg-desktop,.svg-desktop__box {
	display: none;
}

/* DESKTOP */
@media (min-width:45rem) {
	.wrapper {
		flex-direction: row;
		padding: 0;
		margin: 0 4rem;
	}

	.accordion-title__wrapper {
		max-width: 50%;
		padding: 2rem 9% 2rem 0;
	}

	.svg-wrapper {
		width: 50%;
	}

	.svg-mobile {
		display: none;
	}

	.svg-desktop {
		display: block;
		position: relative;
		overflow: hidden;
		min-height: 30rem;
	}
	.svg-desktop__woman,
	.svg-desktop__shadow,
	.svg-desktop__box {
		position: absolute;
	}

	.svg-desktop__shadow {
		top: 0;
		top: -20rem;
		left: -36rem;
		z-index: 1;
	}

	.svg-desktop__woman {
		top: 3rem;
		left: -5rem;
		z-index: 2;
	}

	.svg-desktop__box {
		display: block;
		top: 11.5rem;
		z-index: 3;
		animation: box 6s ease-in-out infinite;
	}

	@keyframes box {
		0% {
			left: -5.5rem;
		}

		50% {
			left: -7rem;
		}

		100% {
			left: -5.5rem;
		}
	}

	h1 {
		text-align: left;
		padding-bottom: 2rem;
	}
}



/* -------------------------ACCORDION---------------------- */
.accordion__content {
	display: grid;
	grid-template-rows: 0fr;
	text-align: left;
	width: 90%;
	transition: all ease-in-out .2s;
}
.accordion__content p{
	overflow: hidden;
}
.accordion__toggle:checked~.accordion__content {
	grid-template-rows: 1fr;
	padding-bottom: 1rem;
}



/* STYLING */
.accordion__toggle {
	width: 100%;
	position: absolute;
	height: 3rem; 
	opacity: 0; 
	cursor: pointer;
}
.accordion-tab{
	position: relative;
}
.accordion-tab::after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: var(--clr-dividers);
}

.accordion__panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	width: 100%;
}

.accordion__header {
	color: var(--clr-font-light);
	font-size: 13px;
}

.accordion__toggle:hover ~ .accordion__panel > .accordion__header {
	color: var(--clr-accent);
}

.accordion__toggle:checked ~ .accordion__panel > .accordion__header {
	color: var(--clr-font-dark);
	font-weight: bold;
}

.accordion__toggle:checked~.accordion__panel>.accordion__icon {
	transform: rotate(180deg);
}